/* .container-login {
    background-image: url('https://cdn.tourcms.com/a/11676/5995/1/large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  } */

  body {
    background-image: url('https://cdn.tourcms.com/a/11676/5995/1/large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

  }
  
  .container-login {
    background-color: blanchedalmond;
    border-radius: 15px;
    text-align: center;
    justify-content: center;

  }
  .container-login > section > a {
    text-decoration: underline;
    color: var(--secondary);
  }
  
  .form-login {
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .form-login > h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-right: 10px;
  }
  
  .form-login > h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .form-login > fieldset > input[type="email"] {
    width: 25em;
  }
  
  .login-btn {
    align-self: flex-end;
  }
  
  .login-btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  /************* FORM STYLES *************/
  
  form {
    margin: 3rem 5rem;
    border: 1px solid var(--outline);
    border-radius: 10px;
    padding: 1rem 0rem 0rem 1rem;
    box-shadow: 1px 2px 5px lightgray;
    background-color: var(--offWhite);
  }
  
  fieldset {
    min-width: 0;
    padding-bottom: 1.5rem;
    margin: 0;
    border: 0;
  }
  
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
  }
  
  .form-group {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-btn {
    align-self: flex-end;
  }
  
  .form-btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }